{% include 'base.html' %}


{% block content%}

    <div class="container text-center">
        <h1>PITCHES</h1>
        <h2><a class="btn blue-gradient" href="{{url_for('main.new_pitch')}}">Pitch your idea</a></h2>

    </div>
 
    <div class="container">

        <!-- Card -->
        <div class="card card-image">
        
            <!-- Content -->
            <div class="text-white  d-flex align-items-center rgba-black-strong py-5 px-4 text-center mb-0">
                <div>
                    <h3 class="card-title pt-2"><strong>Product Pitches</strong></h3>
                    <p>Sell your products here</p>
                    <a class="btn blue-gradient" href="/pitches/product_pitches"><i class="fas fa-clone left"></i> View Pitches</a>
                </div>
            </div>
        
        </div>
        <!-- Card -->
        <br>
        <!-- Card -->
        <div class="card card-image">
        
            <!-- Content -->
            <div class="text-white text-center d-flex align-items-center rgba-black-strong py-5 px-4">
                <div>
                    <h3 class="card-title pt-2"><strong>Marketing Pitches</strong></h3>
                    <p>Sell your services, ideas or your business</p>
                    <a class="btn blue-gradient" href="/pitches/marketing_pitches"><i class="fas fa-clone left"></i> View Pitches</a>
                </div>
            </div>
        
        </div>
        <!-- Card -->
        <br>
        <!-- Card -->
        <div class="card card-image">
        
            <!-- Content -->
            <div class="text-white text-center d-flex align-items-center rgba-black-strong py-5 px-4">
                <div>
                    <h3 class="card-title pt-2"><strong>Punchlines</strong></h3>
                    <p>Post your thoughts. other people's thoughts and some jokes as well</p>
                    <a class="btn blue-gradient" href="/pitches/puch_lines"><i class="fas fa-clone left"></i> View Punchlines</a>
                </div>
            </div>
        
        </div>
        <!-- Card -->
        <br>
        <!-- Card -->
        <div class="card card-image">
        
            <!-- Content -->
            <div class="text-white text-center d-flex align-items-center rgba-black-strong py-5 px-4">
                <div>
                    <h3 class="card-title pt-2"><strong> Pickup Lines</strong></h3>
                    <p>Woo and sweep someone off their feet</p>
                    <a class="btn blue-gradient" href="/pitches/pickup_lines"><i class="fas fa-clone left"></i> View Pickup Lines</a>
                </div>
            </div>
        
        </div>
        <!-- Card -->

            
    </div>

{% endblock %}