{% include 'base.html'%}

{% block content%}
<div class="container text-center">

    <h2 class='amber-text'>Marketing Pitches</h2>
    <h2 class="btn blue-gradient"><a href="{{url_for('main.new_pitch')}} " style="color: white;">Pitch Here</a></h2>


    {% for items in marketing[::-1] %}
    <br>

    <div class="container">
        <div class='row justify-content-center'>
            <div class='col-sm-9 col-md-9 col-lg-9'>
                <!-- Card Dark -->
                <div class="card">


                        <a>
                            <div class="mask rgba-white-slight"></div>
                        </a>
                    </div>

                    <!-- Card content -->
                    <div class="card-body elegant-color white-text rounded-bottom">

                   
                        <!-- Title -->
                        <h4 class="card-title">{{items.author.username}}</h4>
                        
                        <!-- Text -->
                        <p class="text-center mb-0"><i
                                class="fas fa-calendar mr-2"></i>{{items.posted.strftime('%Y-%m-%d')}}</p>
                        <p class="card-text white-text mb-4 text-center mb-0">{{items.category}}</p>
                        <hr class="hr-light">
                        <!-- Link -->
                        <h4 class="card-text text-light">{{items.pitch}}</h4>
                        
                        <!-- Link -->
                        <a href="{{url_for('main.leave_comment', pitch_id = items.id)}}"
                            class="orange-text d-flex flex-row-reverse p-2">
                            <h5 class="waves-effect waves-light">Comments<i class="far fa-comments ml-2"></i></h5>
                        </a>


                    </div>

                </div>
                <!-- Card Dark -->

            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock%}