text-center mb-0

{% block content%}
<div class="container">

    <h2 class='amber-text'>Punchlines</h2>
    <h2 class="btn blue-gradient"><a href="{{url_for('main.new_pitch')}}">Pitch Here</a></h2>


    {% for items in punchlines[::-1] %}
    <br>

    <div class="container">
        <div class='row'>
            <div class='col-sm-9 col-md-9 col-lg-9'>
                <!-- Card Dark -->
                <div class="card">


                    <a>
                        <div class="mask rgba-white-slight"></div>
                    </a>
                </div>

                <!-- Card content -->
                <div class="card-body elegant-color white-text rounded-bottom">

                    <!-- Social shares button -->
                    <a class="activator waves-effect mr-4"><i class="fas fa-share-alt white-text"></i></a>
                    <!-- Title -->
                    <h4 class="card-title">{{items.author.username}}</h4>
                    
                    <!-- Text -->
                    <p class="text-center mb-0"><i
                            class="fas fa-calendar mr-2"></i>{{items.posted.strftime('%Y-%m-%d')}}</p>
                    <p class="card-text white-text mb-4 text-center mb-0">{{items.category}}</p>
                    <hr class="hr-light">
                    <!-- Link -->
                    <h4 class="card-text text-dark">{{items.pitch}}</h4>
                    <!-- Link -->
                    <a href="{{url_for('main.leave_comment', pitch_id = items.id)}}"
                        class="orange-text d-flex flex-row-reverse p-2">
                        <h5 class="waves-effect waves-light">Comments<i class="far fa-comments ml-2"></i></h5>
                    </a>


                </div>

            </div>
            <!-- Card Dark -->

        </div>
    </div>
</div>
{% endfor %}
</div>
{% endblock%}